<!DOCTYPE html>
<html>
<head>
  <title>Soton | Maps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
  <div id="main_container" style="height:100%; width:100%;">
    <div id="map"></div>
    <div id="controls" class="panel panel-primary">
    <div class="panel-heading">
    <h6 class="panel-title">Southampton University</h6>
  </div>
      <div class="form-group">
        <div class="col-xs-4">
          <input type="text" class="form-control" placeholder="Start" id="textA" />
        </div>
        <div class="col-xs-4">
          <input type="checkbox" style="color:white;" onclick="checkChanged()" id="check">Current Location
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" placeholder="End" id="textB"/>
        </div>  
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-block" onclick="route()">Route</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/mainController.js"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlOZHV9bjN1Y103_SezaX_PozQm3SDq0g&callback=initMap">
</script>
</html>